*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('//db.onlinewebfonts.com/c/c00548f5d217ed324ae9096051927001?family=STARWARS');
@font-face {font-family: "STARWARS"; src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot"); src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff") format("woff"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.svg#STARWARS") format("svg"); }


.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;

}

#sidebar {
    background-color: #333;
    padding: 0 2rem;

}

#sidebar h3 {
    display: flex;
    justify-content: center;
    color: #ffff;
    margin-top: 3rem;
    font-size: 45px;
    text-align: center;

}

ul li a {
    color: #ffff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: lightblue;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: none;
    color: lightblue;
}

.dropdown-toggle::after {
border: 0;
}

ul li .interno {
    font-size: 20px;
    border-bottom: 2px solid #888;
    margin: 1rem 0 ;
    font-weight: normal;
    color: #ffff;

}



ul {
    list-style-type: none;
    
}

.background {
    background-image: url('../img/starwars1920.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.background h1 {
    padding: 4rem 0 0 6rem;
    font-family: 'STARWARS';
    font-size: 4em;
    font-weight: bold;
    color: #ffff; 
}

.background p {
    margin: 0.5rem 25rem 0 5rem;
    color: #ffff; 
    font-size: 1.5rem;
    display: flex;


}

.background h3 {
    color: #ffff;
    margin: 18rem 5rem 1rem 5rem;
    font-size: 48px;
}

.slider {
    background-color: #333;
    overflow-x:scroll;
    overflow-y:hidden;
    top:0;
    left:0;
    right:0;
    width: 100%;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  .cards {
    display:flex;
    width: 37%;
    padding-top: 1rem; 
  }
  

  
  .l {
      min-width: 55%;
      background-color: #333;
      margin: 0.5rem; 
  }
  
img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    padding: 1rem;
}


.categoria {
    display: flex;
    justify-content: center;
    margin: 0 25rem 0 10rem;
    background-color: #333;
    border-radius: 0 0 10px 10px;
}

.categoria .cat {
    margin-bottom: 1rem;
}

.categoria p {
    margin: 0 10rem;
}
 .ct {
    font-weight: bold;
    
}

.ct p {
    color: lightblue!important;
}

/* API */

.nameMovie {
    color: white;
    margin-bottom: 20px;
}



@media (max-width: 576px) {
    .slider .cards {
        display: inline-block;
        width: 82%;
        align-items: center;
    }
}
