body {
    margin:0;
  }
  
  .slider {
    overflow-x:scroll;
    overflow-y:hidden;
    top:0;
    left:0;
    right:0;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .cards {
    margin-left:30px;
    display:flex;
    width: 37%;
  }
  .card{
      margin-right:15px;
      border:1px solid #000;
      background:grey;
      float:left;
      box-sizing: border-box;
      border-radius:10px;
      display:flex;
      padding-bottom:40%;
  }
  
  .s {
      width: 22%;
      min-width: 22%;
  }
  .m {
      width: 40%;
      min-width: 40%;
  }
  
  .l {
      width: 55%;
      min-width: 55%;
  }
  

  .categoria {
      background-color: #333333;
      
  }